<div class="container mt-4">

    <h2 class="text-center mb-5">Welcome {{userName}}</h2>

    <div class="row g-4">
        <!-- Users -->
        <div class="col-md-6 col-lg-4">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Users</h4>
                    <p class="text-muted">Manage all application users.</p>

                    <button class="btn btn-primary w-100" routerLink="/viewusers">View Users</button>
                </div>
            </div>
        </div>

        <!-- Customers -->
        <div class="col-md-6 col-lg-4">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Customers</h4>
                    <p class="text-muted">Manage customer records.</p>

                    <button class="btn btn-success w-100" routerLink="/viewcustomers">View Customers</button>
                </div>
            </div>
        </div>

        <!-- Addresses -->
        <div class="col-md-6 col-lg-4">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Addresses</h4>
                    <p class="text-muted">Manage customer addresse </p>

                    <button class="btn btn-warning w-100" routerLink="/viewaddresses">View Addresses</button>
                </div>
            </div>
        </div>

        <!-- Accounts -->
        <div class="col-md-6 col-lg-4">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Accounts</h4>
                    <p class="text-muted"> Manage customer accounts. </p>

                    <button class="btn btn-info w-100" routerLink="/viewaccounts"> View Accounts</button>
                </div>
            </div>
        </div>

        <!-- Transactions -->
        <div class="col-md-6 col-lg-4">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Transactions</h4>
                    <p class="text-muted"> View all banking transactions. </p>

                    <button class="btn btn-secondary w-100" routerLink="/viewtransactions"> View Transactions </button>
                </div>
            </div>
        </div>

    </div>

</div>